/* root */

:root {
    /*Hauptfarben*/
    --color1: #e9c2a1;
    --color2: #f8eeee;
    --color3: #ff0000;
    --color4: #776D61;
    --color5: #7f6f62;

    /*Nebenfarben*/
    --color_n_1: #351748;
    --color_n_2: #d98908;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color2);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    margin: 0 0 25px 0;
    padding: 25px 10px 0 10px;
    overflow: hidden;
    z-index: 1;
    height: auto;
    display: flex;
    position: relative;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/hero3\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) blur(1px); /* Abdunkeln + Unschärfe */
    z-index: -1;
}

.header1_farbe {
    color: var(--color_n_2);
    
}

p {
    color: var(--color5);
}

.content {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.story  {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill, .greeting{
    background-color: var(--color1);
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_gold, #submit {
    background-color: var(--color_n_2);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: var(--color2);
    font-weight: bold;
    border-radius: 5px;
}

.kontakt {
    background-color: var(--color2);
}

.name {
    font-size: 3rem;
}

.titel {
    font-size: 1.5rem;
}

.spruch {
    font-size: 1rem;
}

.name, .titel, .spruch {
    /*Chrome IE...*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*FF*/
    background-clip: text;
    color: transparent;
}

.titel, .spruch {
    background-image: linear-gradient(to right, var(--color2), var(--color_n_2));
}

.name {
    background-image: linear-gradient(to right, var(--color2));
}

section {
    min-height: auto;
}

.gallerie {
    min-height: auto;
    background-color: white;
    color: var(--color5);
    padding: 30px 0;
}

nav {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
    position: absolute;
    width: 100%;


}
.submenu {
    display: none;

}

@media (min-width: 500px) { 

.submenu {
    display: flex;
    color: var(--color2);
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-between;
}

li>a {
    color: var(--color2);
    list-style: none;
    font-size: 1.2rem;
}

li>a:hover{
    color: var(--color_n_2);
}
li {
    list-style: none;
    display: inline;
    margin-left: 25px;
}

.menuicon {
    display: none;
}

}

.pp {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
    border: solid 5px var(--color_n_2);
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 1px black;
}

.content {
    padding: 2rem 20px;
    margin: 25px auto;

}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color5);
}
h1 {
    font-size: 2.0rem;
    margin-bottom: 10px;
    color: var(--color_n_2);
}

h2 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    font-weight: normal;
}


footer, footer-group {
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--color1);
    color: var(--color5);
}

@media (min-width: 400px) {
    footer {
    display: flex;
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    background-color: var(--color1);
    color: var(--color3);

}
    .name {
        font-size: 4rem;
    }
}

.name {
    font-size: 2.5rem;
}

.titel {
    font-size: 2rem;
}

.spruch {
    font-size: 1rem;
}

.copy 
{
    font-size: 0.7rem;
    color: var(--color5);
}

.logo {
    width: 50px;
}

.footer-group {
    margin: 30px 0 0 0;
}

.footer-group * {
    margin: 5px 0;
    font-size: 0.8rem;
}

.bgGelb {
    background-color: #ededed
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    
}

.inname, input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
    color: var(--color5);
}

.inname:active, input:active, textarea:active, select:active {
    border: 1px solid var(--color_n_2);
    box-shadow: 0 0 5px var(--color_n_2);
    outline: none;
}

.nb>input {
    margin: 0;
    padding: 0;
    width: auto;
}

.nb {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stern {
    text-align: left;
    align-self: flex-start;
    margin-left: 10px;
    font-size: 0.8rem;
}

label {
    align-self: flex-start;
    margin-left: 10px;
    font-size: 0.9rem;
    color: var(--color5);
}

/* Karussell */
.carousell-container {
    width: 100%;
    overflow: visible;
    margin: 0 0 40px 0;
    display: grid;
    grid-template-columns: 2fr;
}

.carousell {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;

}

.carousell::-webkit-scrollbar {
    display: none;

}

.card {
    width: 100%;
    height: 400px;
    flex: 0 0 100%;
    scroll-snap-align: start;
    overflow: hidden;
    color: #303030;
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;

}

header {
  position: relative;
  overflow: hidden;
}

.agb {
    color: var(--color5);
    font-size: 0.8rem;
    margin-left: 5px;
}


/**IMPRESSUM**/
#impressumOverlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  overflow-y: auto;
  transition: bottom 0.4s ease;
  z-index: 9999;
}

/* Wenn geöffnet */
#impressumOverlay.active {
  bottom: 0;
}

/* Inhalt zentrieren */
.impressumContent {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

/* Close Button */
#closeImpressum {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Nutzungsbedingungen */
#NutzungsbedingungenOverlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  overflow-y: auto;
  transition: bottom 0.4s ease;
  z-index: 9999;
}

/* Wenn geöffnet */
#NutzungsbedingungenOverlay.active {
  bottom: 0;
}

/* Inhalt zentrieren */
.NutzungsbedingungenContent {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

/* Close Button */
#closeNutzungsbedingungen {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
