/* styles.css */
/* Importing the Stack Sans Notch font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

/* root */

:root {
    /*Hauptfarben*/
    --color1: #EAAE7A;
    --color2: #f8eeee;
    --color3: #000000;
    --color4: #776D61;
    --color5: #AE9B8A;

    /*Nebenfarben*/
    --color_n_1: #351748;
    --color_n_2: #ad0d9d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color2);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    /*background-image: url(img/hero3\ \(2\).jpg);
    background-size: cover;
    background-position: center;*/
    margin: 0 0 25px 0;
    overflow: hidden;
    z-index: 1;
    height: auto;
    display: flex;
    position: relative;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/hero3\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) blur(1px); /* Abdunkeln + Unschärfe */
    z-index: -1;
}

.content {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--color2);
}

.story  {
    background-image: linear-gradient(45deg, #5dd2b5, #1b8e71, #5dd2b5);
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill, .greeting{
    background-color: var(--color1);
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt {
    background-color: #814272;
}

.name {
    font-size: 4rem;
}

.titel {
    font-size: 2rem;
}

.spruch {
    font-size: 1rem;
}

.name, .titel, .spruch {
    /*Chrome IE...*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*FF*/
    background-clip: text;
    color: transparent;
}

.titel, .spruch {
    background-image: linear-gradient(to right, var(--color1), var(--color_n_2));
}

.name {
    background-image: linear-gradient(to right, var(--color2));
}

section {
    min-height: auto;
}

nav {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 2;
    position: absolute;
    width: 90%;
    background-color: var(--color2);
    box-shadow: 0 0 1px 10px 10px #000000;
    border-radius: 0 0 5px 5px;
 
}
.submenu {
  display: none;
}

.pp {
    width: 250px;
    height: 250px;
    object-fit:scale-down;
    border: solid 3px #ffffff;
    border-radius: 100%;
    margin-bottom: 20px;
}

.content {
    padding: 2rem 20px;
    margin: 25px auto;

}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color3);
}
h1 {
    font-size: 2.0rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.0rem;
    margin-bottom: 10px;
}

footer {
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    background-color: var(--color1);
    color: var(--color3);
}

.copy
{
    font-size: 0.7rem;
    color: var(--color3);
}

.logo {
    width: 50px;
}

.footer-group {
    margin: 30px 0 0 0;
}

.footer-group * {
    margin: 5px 0;
    font-size: 0.8rem;
}

.bmore, .bkontakt {
    margin: 20px 10px 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    min-width: 150px;
    max-width: 150px;
    background-color: #262626;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.bmore:hover, .bkontakt:hover {
    background-color: #ededed;
    color: #262626;
}

.bgGelb {
    background-color: #ededed
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    
}

.inname, input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
}

#yes {
    display: inline-block;
}

label {
    align-self: flex-start;
    margin-left: 10px;
    font-size: 0.9rem;
}

#submit {
    width: auto;
    padding: 10px 20px;
    background-color: #1f1f21;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #8155c7;
}

/* Karussell */
.carousell-container {
    width: 90%;
    overflow: visible;
    padding: 10px 0;
}

.carousell {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

}

.carousell::-webkit-scrollbar {
    display: none;

}

.card {
    width: 100%;
    height: 400px;
    flex: 0 0 100%;
    scroll-snap-align: start;

    overflow: hidden;
    color: #303030;
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    border: #e0be4ea4 3px solid;
    border-radius: 10px;

}

header {
  position: relative;
  overflow: hidden;
}
