/* root */

:root {
    /*Hauptfarben*/
    --rosa: #ffb6c1;
    --bg: #faf6f2;
    --bg2: #ffffff;
    --überschriften: #1a1a1a;
    --button_text: #1a1a1a;
    --hover_farbe: #f29bab;
    --body_text: #2d2d2d;
    --input: #a2e293;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color:var(--bg);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    margin: 0 0 25px 0;
    padding: 25px 10px 0 10px;
    overflow: hidden;
    z-index: 1;
    height: auto;
    display: flex;
    position: relative;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/hero3\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.4) blur(2px); /* Abdunkeln + Unschärfe */
    z-index: -1;
}

p {
    color: var(--body_text);
}

.content {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.navigation {
    width: 100%;
    background: #fff;
}

/* Navigation Layout */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

/* Menüicon */
.menuicon img {
    width: 28px;
    cursor: pointer;
}

/* Submenu */
.submenu {
    list-style: none;
    display: none; /* Mobile: standardmäßig zu */
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.submenu li {
    padding: 10px 0;
}

.submenu a {
    text-decoration: none;
    color: var(--bg2);
}

/* Für größere Bildschirme: Menü dauerhaft sichtbar */
@media (min-width: 768px) {
    .submenu {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .menuicon {
        display: none;
    }
}

.story  {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill, .greeting{
    background-color: var(--bg);
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_gold, #submit {
    background-color: var(--rosa);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: var(--button_text);
    font-weight: bold;
    border-radius: 5px;
}

.kontakt {
    background-color: var(--bg2);
}

.name {
    font-size: 3rem;
    color: var(--rosa);
}

.titel {
    font-size: 1.5rem;
}

.spruch {
    font-size: 1rem;
}

/*.name {

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}*/

.titel, .spruch {
    color: var(--bg);
}

section {
    min-height: auto;
    width: 90%;
}

.gallerie {
    min-height: auto;
    background-color: var(--bg2);
    color: var(--color1);
    padding: 2rem 20px;
    margin: 25px auto;
    border-radius: 10px;
}

nav {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
    position: absolute;

}

/* 500px */
@media (min-width: 500px) { 

.submenu {
    display: flex;
    color: var(--color2);
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-between;
}

li>a {
    color: var(--color2);
    list-style: none;
    font-size: 1.2rem;
}

li>a:hover{
    color: var(--color1);
}
li {
    list-style: none;
    display: inline;
    margin-left: 25px;
}

.menuicon {
    display: none;
}

}
/* Ende */
.pp {
    width: 250px;
    height: 250px;
    padding: 25px;
    object-fit: scale-down;
    border: solid 5px var(--rosa);
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 1px var(--body_text);
}

.content {
    padding: 2rem 20px;
    margin: 25px auto;

}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--body_text)
}
h1 {
    font-size: 1.5rem;
    margin: 20px auto;
    color: var(--rosa);
}

h2 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    font-weight: normal;
    color: var(--body_text);
}


footer, footer-group {
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--bg);
    color: var(--body_text);
}

.ftext {
   color: var(--body_text);
}

@media (min-width: 400px) {
    footer {
    display: flex;
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    background-color: var(--color1);
    color: var(--color3);

}
    .name {
        font-size: 4rem;
    }
}

.name {
    font-size: 2.8rem;
}

.titel {
    font-size: 2rem;
}

.spruch {
    font-size: 1rem;
}

.copy 
{
    font-size: 0.7rem;
    color: var(--body_text);
    font-weight: bolder;
}

.logo {
    width: 50px;
}

.footer-group {
    margin: 30px 0 0 0;
}

.footer-group * {
    margin: 5px 0;
    font-size: 0.8rem;
}

.bgGelb {
    background-color: #f6f6f6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    
}

.inname, input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--rosa);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
    color: var(--body_text);
    background-color: var(--bg);
    resize: none;
}

.inname:focus-within, input:focus-within, textarea:focus-within, select:focus-within {
    border: 1px solid var(--input);
    box-shadow: 0 0 4px 2px var(--input);
    outline: none;
}

.button_sekundär {
    background-color: var(--bg);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: var(--button_text);
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid var(--rosa);
}

.nb>input {
    margin: 0;
    padding: 0;
    width: auto;
}

.nb {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stern {
    text-align: left;
    align-self: flex-start;
    margin-left: 10px;
    font-size: 0.8rem;
    color: var(--body_text);
}

label {
    align-self: flex-start;
    margin-left: 10px;
    font-size: 0.9rem;
    color: var(--body_text);
}

/* Karussell */
.carousell-container {
    width: 100%;
    overflow: visible;
    margin: 0 0 5px 0;
    display: grid;
    grid-template-columns: 2fr;
}

.carousell {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

}

.carousell::-webkit-scrollbar {
    display: none;

}

.card {
    width: 100%;
    height: 400px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    overflow: hidden;
    color: var(--body_text);
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 250px;
    object-fit: cover;

}

/**/

header {
  position: relative;
  overflow: hidden;
}

.agb {
    color: var(--body_text);
    font-size: 0.8rem;
    margin-left: 5px;
}


/**IMPRESSUM**/
#impressumOverlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg2);
  color: var(--body_text);
  overflow-y: auto;
  transition: bottom 1.0s ease;
  z-index: 9999;
}

/* Wenn geöffnet */
#impressumOverlay.active {
  bottom: 0;
}

/* Inhalt zentrieren */
.impressumContent {
  padding: 2rem;
  max-width: 600px;

  display: flex;
  flex-direction: column;
}

/* Close Button */
#closeImpressum {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}